<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGetData" />
                <binding name="BasicHttpBinding_IDoMoreWork" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14890/Master.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGetData" contract="ConsumedService.IGetData"
                name="BasicHttpBinding_IGetData" />
            <endpoint address="http://localhost:14890/Master.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDoMoreWork" contract="ConsumedService.IDoMoreWork"
                name="BasicHttpBinding_IDoMoreWork" />
        </client>
    </system.serviceModel>
</configuration>